@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.footer-content {
  background-color: #2e2b52;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  padding-top: 20px;
}
td div,
td,
th,
a {
  color: white;
  font-family: "poppins";
}

table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
}
th {
  font-weight: 600;
  font-size: clamp(12px, 2vw, 14px);
}
th,
td {
  margin: 0;
  padding-left: clamp(2px, 0.5vw, 25px);
}
td {
  font-size: clamp(10px, 2vw, 16px);
}
.mid {
  text-align: center;
}
a {
  text-decoration: none;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
}
h5 {
  margin: 0;
  margin-top: 10px;
}

a svg {
  width: clamp(20px, 2vw, 40px);
  height: clamp(20px, 2vw, 40px);
}
